<link rel="stylesheet" href="./default-styles.scss">
<script src="./DefaultStyles.ts"></script>

<div class="default-styles" data-component="default-styles">
  <h1>default-styles</h1>
  <div class="example-wrapper">
    <img class="visual" src="default-styling.jpg" alt="">
  </div>
  {{> ugly-ass-link href="css-structure" }}
</div>
