<link rel="stylesheet" href="./inspect-tips.scss">
<script src="./InspectTips.ts"></script>

<div class="inspect-tips" data-component="inspect-tips">
  <h1>inspect-tips</h1>
  <div class="example-wrapper">
    <ul>
      <li>computed styles</li>
      <li>breakpoints on modifications</li>
      <li>Force states</li>
      <li>Add classes</li>
      <li>Element vs Class styling</li>
    </ul>


    <div class="box">

    </div>
  </div>
  {{> ugly-ass-link href="current-color" }}
</div>
