<link rel="stylesheet" href="./pos-absolute.scss">
<script src="./PosAbsolute.ts"></script>

<div class="pos-absolute" data-component="pos-absolute">
  <div class="box">
    {{> ugly-ass-link href="flexbox-centering" }}
  </div>
</div>
