<link rel="stylesheet" href="./caniuse.scss">
<script src="./Caniuse.ts"></script>

<div class="caniuse" data-component="caniuse">
  <h1>caniuse</h1>
  <p>
    Great way to check support for CSS features for different browsers
  </p>
  <div class="example-wrapper">
    <a href="https://caniuse.com/#search=variables" target="_blank">
      Can I use???1
    </a>
  </div>
  {{> ugly-ass-link href="float" }}
</div>
