<link rel="stylesheet" href="./z-index-management.scss">
<script src="./ZIndexManagement.ts"></script>

<div class="z-index-management" data-component="z-index-management">
  <h1>z-index-management</h1>
  <p>
    With the z-index function you can organize and structure your z-index and easily update them. preventing the <span class="code">z-index: 99999999999</span>
  </p>
  <div class="example-wrapper">
    <div class="example-wrapper">
      <div class="box foo"></div>
      <div class="box popup"></div>
      <div class="box overlay"></div>
    </div>
  </div>
  {{> ugly-ass-link href="grid" }}
</div>
