<link rel="stylesheet" href="./naming.scss">
<script src="./Naming.ts"></script>

<div class="naming" data-component="naming">
  <h1>naming</h1>
  <div class="example-wrapper">
    <img src="naming.jpg" class="visual" alt="">
  </div>
  {{> ugly-ass-link href="links" }}
</div>
