<link rel="stylesheet" href="./nice-declarations.scss">
<script src="./NiceDeclarations.ts"></script>

<div class="nice-declarations" data-component="nice-declarations">
  <h1>nice-declarations</h1>
  <div class="example-wrapper">
    <span class="code">user-select:none;</span>
    <span class="code">pointer-events: none;</span>

  </div>
  {{> ugly-ass-link href="inspect-tips" }}
</div>
