<link rel="stylesheet" href="./links.scss">
<script src="./Links.ts"></script>

<div class="links" data-component="links">
  <h1>links</h1>
  <div class="example-wrapper">
    <a class="link" target="_blank" href="https://flexboxfroggy.com/">flexboxfroggy</a>
    <a class="link" target="_blank" href="https://cssgridgarden.com/">cssgridgarden</a>
    <a class="link" target="_blank" href="https://css-tricks.com/">css-tricks</a>
    <a class="link" target="_blank" href="https://cssgrid-generator.netlify.com/">cssgrid-generator.netlify.com</a>
    <a class="link" target="_blank" href="http://grid.malven.co/">grid.malven.co</a>
  </div>
  {{> ugly-ass-link href="epic-selectors" }}
</div>
