


:root {
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

















img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  &:focus,
  &:active {
    outline: none;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  border: none;
  border-radius: 0;
  background: transparent;

  &:focus,
  &:active {
    outline: none;
  }
}
