<link rel="stylesheet" href="./flexbox-rules.scss">
<script src="./FlexboxRules.ts"></script>

<div class="flexbox-rules" data-component="flexbox-rules">
  <div class="example-wrapper">
    
    <ul class="list">
      <li class="list-item">
        <h1>Lorem</h1>
        <img src="http://placehold.it/400x400" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, nemo!
        </p>
        {{> ugly-ass-link href="flexbox-aligning" }}
      </li>
      <li class="list-item">
        <h1>Lorem</h1>
        <img src="http://placehold.it/400x400" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi, dicta dignissimos dolores in perferendis quasi quibusdam ratione similique tempore? Accusamus consequuntur, culpa debitis distinctio doloribus, eius enim iusto laboriosam laudantium natus numquam possimus qui quia quibusdam reprehenderit tempora voluptatibus!
        </p>
        {{> ugly-ass-link href="flexbox-aligning" }}
      </li>
      <li class="list-item">
        <h1>Lorem</h1>
        <img src="http://placehold.it/400x400" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, nemo!
        </p>
        {{> ugly-ass-link href="flexbox-aligning" }}
      </li>
    </ul>

  </div>
</div>
