<link rel="stylesheet" href="./flexbox.scss">
<script src="./Flexbox.ts"></script>

<div class="flexbox" data-component="flexbox">
  <h1>flexbox</h1>
  <p>
    Flexbox is amazing with calculations and wrapping
  </p>
  <div class="example-wrapper">

    <ul class="list">
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
    </ul>

  </div>

  {{> ugly-ass-link href="pos-absolute" }}
</div>
