<link rel="stylesheet" href="./flexbox-aligning.scss">
<script src="./FlexboxAligning.ts"></script>

<div class="flexbox-aligning" data-component="flexbox-aligning">
  <h1>flexbox-aligning</h1>
  <div class="example-wrapper">
    <ul class="list">
      <li class="item">foo</li>
      <li class="item">foo</li>
      <li class="item">foo</li>
      <li class="item">foo</li>
      <li class="item">foo</li>
    </ul>
  </div>
  {{> ugly-ass-link href="z-index-management" }}
</div>
