<link rel="stylesheet" href="./css-structure.scss">
<script src="./CssStructure.ts"></script>

<div class="css-structure" data-component="css-structure">
  <h1>css-structure</h1>
  <div class="example-wrapper">
    <div class="visual-wrapper">
    <img src="css-structure.jpg" class="visual" alt="">
    <img src="css-structure-components-like.jpg" class="visual" alt="">
    </div>
  </div>
  {{> ugly-ass-link href="naming" }}
</div>
