<link rel="stylesheet" href="./display-inline-block.scss">
<script src="./DisplayInlineBlock.ts"></script>

<div class="display-inline-block" data-component="display-inline-block">
  <h1>display-inline-block</h1>
  <p>
    Using inline-block didn't have the issue of the parent collapsing. But the parent needed to have a font-size of 0. To avoid the spacing.
  </p>
  <div class="example-wrapper">

    <ul class="list">
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
      <li class="list-item">
        <img src="http://placehold.it/800x800" alt="">
      </li>
    </ul>

  </div>

  {{> ugly-ass-link href="flexbox" }}


</div>
