<link rel="stylesheet" href="./flexbox-centering.scss">
<script src="./FlexboxCentering.ts"></script>

<div class="flexbox-centering" data-component="flexbox-centering">
  <div class="example-wrapper">
      flexbox rules
    {{> ugly-ass-link href="flexbox-rules" }}
  </div>
</div>
