<link rel="stylesheet" href="./css-variables.scss">
<script src="./CssVariables.ts"></script>

<div class="css-variables" data-component="css-variables">
  <h1>css-variables</h1>
  <p>
    CSS variables are the Future!!1
  </p>
  <p>
    They may look like SASS variables at the surface! <br>
    But they are amazing because they reassign themselves to properties where the get updated.
  </p>
  <div class="example-wrapper">
    <img src="css-vars.png" alt="WebStorm is the best">
  </div>
  {{> ugly-ass-link href="caniuse" }}
</div>
