<link rel="stylesheet" href="./grid.scss">
<script src="./Grid.ts"></script>

<div class="grid" data-component="grid">
  <h1>grid</h1>
  <div class="example-wrapper">
    <div class="grid-container">
      <div class="foo"></div>
      <div class="foo"></div>
      <div class="foo"></div>
      <div class="foo"></div>
    </div>
  </div>
  {{> ugly-ass-link href="default-styles" }}
</div>
